build/
seo/
node_modules/
_site/
.DS_Store
lib/
build/
dist/

# Ignore the non-version controlled sprouts folder
sprouts/

#Ensure that no one checks in the secret config
*.SECRET.*
.env
*.compiled.*
directory.json